*{
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    padding: 2%;
    background-color: hsl(217, 19%, 38%);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    font-family: 'Manrope', sans-serif;

}

#container {
    background-color: hsl(217, 19%, 24%);
    height: 300px;
    margin: 100px 0 10px;
    border-radius: 10px;
    padding: 7%;
    position: relative;
}

#dice-box{
    width: 50px;
    height: 50px;
    background-color: hsl(150, 100%, 66%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, 0);

}

#voice-options {
    width: 70%;
    height: 40px;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    padding: 0 5%;
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }